extends ../layout

block content
    h1 Book - #{name}
    ul
        li Name: #{name}
        li ISBN: #{isbn}
        li Edition: #{edition}
        li Publisher: #{publisher.name}
        li Author: #{author.name}
